# *Answer to Problem 1 Clustering in Toronto*

 Our assignment will be the next one, we will answer by order:

1.Start by creating a new Notebook for this assignment. Done
2.Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, 
3. To create the above dataframe:

    The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
    Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.
    If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
    Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
    In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

1.Start by creating a new Notebook for this assignment. Done

2.Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M,and importe libraries requiered

In [13]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [15]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [16]:
soup = BeautifulSoup(source, 'xml')

In [17]:
table=soup.find('table')

In [18]:
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [28]:
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [23]:
df1=df[df.Borough!='Not assigned']
df1.head()

  Postalcode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [32]:
df2=df1.groupby(['Postalcode','Borough'])['Neighborhood'].apply(','.join).reset_index()
df2.head()

  Postalcode      Borough                                       Neighborhood
0        M1B  Scarborough                      Malvern, Rouge,Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek,Rouge H...
2        M1E  Scarborough  Guildwood, Morningside, West Hill,Guildwood, M...
3        M1G  Scarborough                                      Woburn,Woburn
4        M1H  Scarborough                                Cedarbrae,Cedarbrae

In [34]:
df2.shape

(103, 3)

# *Answer to Problem 2 Clustering in Toronto*

For sake of simplicity, using the csv provided by the course

In [36]:
url = 'http://cocl.us/Geospatial_data'
df_geo=pd.read_csv(url)
df_geo.head(15)

   Postal Code   Latitude  Longitude
0          M1B  43.806686 -79.194353
1          M1C  43.784535 -79.160497
2          M1E  43.763573 -79.188711
3          M1G  43.770992 -79.216917
4          M1H  43.773136 -79.239476
5          M1J  43.744734 -79.239476
6          M1K  43.727929 -79.262029
7          M1L  43.711112 -79.284577
8          M1M  43.716316 -79.239476
9          M1N  43.692657 -79.264848
10         M1P  43.757410 -79.273304
11         M1R  43.750072 -79.295849
12         M1S  43.794200 -79.262029
13         M1T  43.781638 -79.304302
14         M1V  43.815252 -79.284577